<%- include("header") -%>
    <div class="box" id="heading">

    
<h1><%=key%></h1>
</div>
<div class="box">

   <% for(var i=0;i<item.length;i++){%>
    <div class="lists">
      <input type="checkbox">
        <p><%=item[i]%></p>
    </div>
   <% }%>

   <form action="/" method="post">
    <input type="text" name="input" placeholder="New Item">
    <button type="submit" name="add" value=<%=key%>>+</button>
</form>
<form action="/" method="post" enctype="multipart/form-data">
  <input type="file" name="fileInput" >
  <button type="submit" name="filebutton" value="upload">+</button>
</form>
<% for(var i=0;i<file.length;i++){%>
  <p>☑️<%=file[i].name%></p>
   <% }%>
  </div>

<%- include("footer") -%>