<%- include("header") -%>
    <div class="box" id="heading">

    
<h1><%=key%></h1>
</div>

<div class="box">

  <% item.forEach(function(i){ %>
   <form action="/delete" method="post">
    <div class="lists">
     <input type="checkbox" name="checkbox" value="<%=i._id%>" onchange="this.form.submit()">
     <p><%=i.name%></p>
  <input type="hidden" value="<%=key%>" name="listName"></input>
    </div>
  </form>
  <%})%>

   <form action="/" method="post">
    <input type="text" name="input" placeholder="New Item">
    <button type="submit" name="add" value=<%=key%>>+</button>
</form>
<form action="/file" method="post" enctype="multipart/form-data">
  <input type="file" name="fileInput" >
  <input type="hidden" name="listname" value="<%=key%>">
  <button type="submit" name="filebutton" value="upload">+</button>
</form>
<% file.forEach(function(i){%>
  <form action="/fdelete" method="post">
   <input type="hidden" name="fileI" value="<%=key%>">
  <p>☑️<%=i.name%> <button type="submit" name="filebutton" class="delete" value="<%=i._id%>"><i class="fa-solid fa-trash fa-sm"></i></button></p>
</form>
   <% })%>
</div>

<%- include("footer") -%>